awkward==2.8.1
awkward_cpp==45
cramjam==2.10.0
fsspec==2025.3.2
numpy==2.2.4
packaging==25.0
pandas==2.2.3
parquet-to-root==0.3.0
pyarrow==19.0.1
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tqdm==4.67.1
tzdata==2025.2
uproot==5.6.0
xxhash==3.5.0
